@model BkpGasProcurementSystem.Models.Deliveries

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Deliveries</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ship_time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ship_time)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.delivery_history.Last().update_when)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.delivery_history.Last().message)
        </dt>
        <dt class="col-sm-8">
            @Html.DisplayNameFor(model => model.delivery_history.Last().status)
        </dt>


        @foreach (update_delivery a in (List<update_delivery>)ViewData["delivery_history"])
        {

                    <dd class="col-sm-2">
                        @Html.DisplayFor(model => a.update_when)
                    </dd>
                                    <dd class="col-sm-2">
                                        @Html.DisplayFor(model => a.message)
                                    </dd>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => a.status)
                                    </dd>
}
        }


    </dl>
   

    @if (User.IsInRole("Delivery"))
    {
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Update Delivery</a> |
    <a asp-action="Index">Back to List</a>
</div>}
    @if (User.IsInRole("Customer"))
    {
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Confirm Delivery</a> |
    <a asp-action="Index">Back to List</a>
</div>}
    }
</div>
