@model IEnumerable<BkpGasProcurementSystem.Models.Deliveries>

@{
    ViewData["Title"] = "Index";
   
}

<h1>Index</h1>

<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ship_time)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            var deli = item.username;
            @if (User.IsInRole("Delivery") && deli == User.Identity.Name)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ship_time)
                    </td>
                    <td>
                        @if (item.status != "Delivery Completed")
                        {
                            <a asp-action="Edit" asp-route-id="@item.ID">Update Delivery |</a>
                        }


                        <a asp-action="Details" asp-route-id="@item.ID"> Details</a>

                    </td>
                </tr>
            }
            
            @if (User.IsInRole("Customer") && ViewData["customeruser"] == User.Identity.Name )
            {

            <tr>
                
                
                <td>

                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ship_time)
                </td>
                <td>
                    @if (item.status != "Delivery Completed")
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID">Confirm Delivery |</a>
                    }


                    <a asp-action="Details" asp-route-id="@item.ID"> Details</a>

                </td>
            </tr>

        }
        }
        </tbody>
    </table>
