@model BkpGasProcurementSystem.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        @if (Model.Picture != null)
        {
            <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="@(Model.Picture)">
        }
        else
        {
            <p>No Picture Available.</p>
        }
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin")) { 
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
    }
    <a asp-action="Index">Back to List</a>
</div>
