@model BkpGasProcurementSystem.Models.Orders

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.order_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.order_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.total_price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.total_price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment_status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment_status)
        </dd>
    </dl>
    <dl class="row">

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.products.Last().Picture)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.products.Last().Name)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.products.Last().Price)
        </dt>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.products.Last().Weight)
        </dt>

        @foreach (Product a in (List<Product>)ViewData["prolist"])
        {

            @if (a.Picture != null)
            {
                <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@Convert.ToBase64String(a.Picture)">
            }
            else
            {
                <label>No Image Found</label>
            }
            <dd class="col-sm-2">
                @Html.DisplayFor(model => a.Name)
            </dd>
            <dd class="col-sm-2">
                @Html.DisplayFor(model => a.Price)
            </dd>
            <dd class="col-sm-2">
                @Html.DisplayFor(model => a.Weight)
            </dd>
        }
        }


    </dl>

</div>
<div>
    @if (User.IsInRole("Delivery"))
    {
        <a asp-action="Edit" asp-route-id="@Model.ID">Accept Order</a>
    }

    <a asp-action="Index">Back to List</a>
</div>
