@model IEnumerable<BkpGasProcurementSystem.Models.Orders>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.order_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment_status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            @if (User.IsInRole("Delivery") && item.Payment_status == "PAID")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.order_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.total_price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Payment_status)
                    </td>
                    <td>
                        <a  asp-action="Edit" asp-route-id="@item.ID">Accept Order</a>
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                    </td>
                </tr>
               
            }
            else if (item.username == User.Identity.Name && User.IsInRole("Customer"))
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.order_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.total_price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Payment_status)
                    </td>
                    <td>
                        @if (item.Payment_status != "PAID")
                        {
                        <a asp-action="Delete" asp-route-id="@item.ID">Cancel Order  </a>
                        <a asp-action="Pay" asp-route-id="@item.ID">   Pay  </a>
                        }
                        <a asp-action="Details" asp-route-id="@item.ID"> Details</a>
                    </td>
                </tr>
              
            }

    
        }

    </tbody>
</table>
